
.App {
  text-align: center;
}


.pvw { color: #111; font-family: 'Open Sans', sans-serif; font-size: 2vw; margin: 0 0 72px; text-align: center; }
.page-item.active .page-link {
  background-color: #111 !important;
  border-color: #111 !important;
  color: white !important;
}

.page-link {
  color: #111 !important;
}

.btn-secondary {
  color: #fff;
  background-color: #111 !important;
  border-color: #111 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link{
  display: flex !important;
}

.dropdown-toggle::after{
  display: flex !important;
  text-align: center;
      justify-content: center;
      align-items: center;
}

.paypal_button{
  margin: 20px;
  display: flex !important;
  text-align: center;
      justify-content: center;
      align-items: center;
}


@media screen and (min-width: 601px) {

  .title_heading { color: #111;
    font-family: 'Helvetica Neue',
    sans-serif; font-size: 150px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-top: 20px; }

    .title_heading_magic { color: #111;
      font-family: 'Helvetica Neue',
      sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-top: 20px;}

    .h2title_heading { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; text-align: center;  display: flex;
      justify-content: center;
      align-items: center;}

      .ptext { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; text-align: center;  display: flex;
        justify-content: center;
        align-items: center;}

    .table_heading {font-size: 20px;}
    .table_content {font-size: 20px;}
    .nav_heading {font-size: 20px; color: white !important; text-align: center;  display: flex;
      justify-content: center;
      align-items: center;}
    .nav_title {font-size: 25px; font-weight: bold; color: white !important;}

    .button_align_center{text-align: center;  display: flex;
      justify-content: center;
      align-items: center; }

      .card_details{
        padding: 10px;
        margin: 20px;}
        

      .navbar-dark .navbar-nav .nav-link {
        color: white !important
    }

}

@media screen and (max-width: 600px) {

  .btn-group-lg>.btn, .btn-lg {    
    font-size: 15px !important;
}

  .card_details{
    margin-top: 10px;}
  td {
    font-size: 10px !important;
    overflow: scroll;  
}

.react-bootstrap-table-page-btns-ul {
  float: none !important;
}

.pagination {
  font-size: 10px !important;
  overflow: scroll !important;
}

  .title_heading { color: #111;
    font-family: 'Helvetica Neue',
    sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-top: 20px;}

    .title_heading_magic { color: #111;
      font-family: 'Helvetica Neue',
      sans-serif; font-size: 35px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-top: 20px;}

    .h2title_heading { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 10px;  text-align: center;  display: flex !important;
      justify-content: center;
      align-items: center; }

      .ptext { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 5px; text-align: center;  display: flex;
        justify-content: center;
        align-items: center;}

    .table_heading {font-size: 8px;}
    .table_content {font-size: 8px;}

    .nav_heading {font-size: 10px; color: white !important; text-align: center;  display: flex;
      justify-content: center;
      align-items: center;}
    .nav_title {font-size: 15px; font-weight: bold; color: white !important;}

  
    .button_align_center{text-align: center;  display: flex;
      justify-content: center;
      align-items: center; }

      .navbar-dark .navbar-nav .nav-link {
        color: white !important
    }

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
